@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold_1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
 }
 @font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light_1.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
 }
 @font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic_1.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
 }
html, body {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  min-width: 1080px;       /*ширина контента(блок контейнер) + 10-20 пикселей */
}
.wrapper:after {
  content: '';
  display: block;
  height: 80px;    /*высота футера */
}

.container {
  margin: 0 auto;
  width: 1060px;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
footer {
  padding-top: 20px;
  height: 80px;
  background-color: #4b73b5;
  margin-top: -80px;       /*высота футера */
}
footer .container {
  display: flex;
  justify-content: space-between;
}
* {
  font-family: 'Roboto', sans-serif ;
}
/* ХЕАДЕР */
.header {
  background-color: #4b73b5;
  padding-top: 23px;
  margin-bottom: 45px;
}

.header .container {
  display: flex;
  height: 57px;
  justify-content: space-between;
}

.contacts {
  font-weight: bold;
  text-align: right;
}
.contacts__phone {
  color: #fff;
  text-decoration: none;
  font-size: 21px;
}
.contacts__phone:hover {
  text-decoration: underline;
}
.contacts__schedule {
  color: rgba(255, 255, 255, .7);
  font-size: 14px;
}
.contacts__schedule b:hover {
  text-decoration: underline;
}
/* ВСПЛЫВАШКА */
.contacts__schedule-popup { 
  position:relative;
  visibility: hidden;
  height: 0;
}
.contacts__schedule-info {
  display:inline-block;
  position:absolute;
  top:0px;   
  left:5px;
  color:#1c5bc3;
  font-size:15px; 
  padding:30px 10px;
}
.contacts__schedule-info > div {
  color: black;
}
.contacts__schedule b:hover + .contacts__schedule-popup {
  visibility: visible;
  z-index: 1;
  text-align: left;
}
/* Тело */

.container__main {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.sidebar {
  width: 20%;
}
.maincontent {
  width: 80%;
  background-color: aqua;
}
/* Хлебные крошки */
.breadcrumbs {
  background: palegreen;
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
  color: #497ccf;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__item:after {
  content: '/';
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.breadcrumbs__link--active {
  text-decoration: none;
  color: #4e4c4c;
  pointer-events: none;
  cursor: default;
}
/* ВОПРОСЫ */
.question {
  width: 100%;
  background: tomato;
}
.feedback {
  width: 100%;
  background: palegreen;
}

/* САЙДБАР */

.menu__list {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.menu__item {
  
  position: relative;
  margin-bottom: 30px;
}
.menu__item:last-child {
  margin-bottom: 0;
}
.menu__link {
  text-decoration: none;
  color: blue;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
}
.menu__link:hover {
  color: #000;
}
.menu__link--active {
  color: #000;
}
.menu__link--main:before {
  content: '';
  position: absolute;
  width: 23px;
  height: 20px;
  background: url(../img/sidebar/main_icon.png) center center no-repeat;
  margin-left: -50px;
}
.menu__link--reviews:before {
  content: '';
  position: absolute;
  width: 23px;
  height: 20px;
  background: url(../img/sidebar/feed_icon.png) center center no-repeat;
  margin-left: -50px;
}
.menu__link--crew:before {
  content: '';
  position: absolute;
  width: 23px;
  height: 20px;
  background: url(../img/sidebar/team_icon.png) center center no-repeat;
  margin-left: -50px;
}
.menu__link--active.menu__link--main:before {
  background: url(../img/sidebar/main_icon_black.png) center center no-repeat;
}
.menu__link--active.menu__link--reviews:before {
  background: url(../img/sidebar/feed_icon_black.png) center center no-repeat;
}
.menu__link--active.menu__link--crew:before {
  background: url(../img/sidebar/team_icon_black.png) center center no-repeat;
}
.menu__link--main:hover:before {
  background: url(../img/sidebar/main_icon_black.png) center center no-repeat;
}
.menu__link--reviews:hover:before {
  background: url(../img/sidebar/feed_icon_black.png) center center no-repeat;
}
.menu__link--crew:hover:before {
  background: url(../img/sidebar/team_icon_black.png) center center no-repeat;
}
/* ТАРИФЫ */
.section-title {
  font-size: 49px;
  font-weight: bold;
  margin-bottom: 26px;
}
.tariff {
  margin-bottom: 50px;
}

.price__item {
  border: 1px solid #fff;
  display: inline-block;
  width: 30%;
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
  padding: 40px 30px 45px;
}

.price__item:last-child {
  margin-right: 0;
}

.price__item:hover {
  border: 1px solid #e8e9ed;
  border-radius: 2%;
}

.price__up-t {
  background: #4b73b5;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 25px;
}
.price__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.price__title {
  font-size: 10.78px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.price__text {
  text-align: center;
  line-height: 1.7;
  margin-bottom: 15px;
}

.price__string {
 text-align: left;
 margin-left: 20px;
 margin-bottom: 30px;
}


li.price__string-item {
  margin-bottom: 12px;
}
.price__string-item:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
  margin-left: -20px;
  margin-top: 8px;
}
.price_value {
  font-size: 54px;
  text-align: center;
}
.price_value span {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
} 
/* НОВОСТИ */
.reviews, .news {
  margin-bottom: 50px;
}
h3.section-title {
  margin-bottom: 65px;
}

.reviews__list, .news__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.reviews__item, .news__item {
  display: flex;
  list-style-type: none;
  padding-bottom: 27px;
  margin-bottom: 27px;
  border-bottom: 2px solid #e8e9ed;
}
.reviews__item:last-child, .news__item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.reviews__avatar, .news__avatar {
  margin-right: 15px;
}
.reviews__avatar-pic, .news__avatar-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
 .reviews__info, .news__info {
  width: 650px;
  height: 160px;
  overflow: hidden;
  font-size: 15px;
}
.reviews__title, .news__title {
  font-weight: bold;
  margin-bottom: 11px;
}
.reviews__date, .news__date {
  margin-bottom: 4px;
}
.reviews__text, .news__text {
  font-size: 17px;
  line-height: 1.7;
}
/* ПАГИНАТОР */
.switcher {
  display: flex;
  justify-content: center;
}
.switcher__display {
}
.switcher__paginator{
  display: flex;
}
.switcher__pages {
 display: flex;
}
.switcher__page-item {
}
.switcher__paginator {
  font-size: 15px;
  font-weight: bold;
}
li > a {
  text-decoration: none;
  color: black;
}
li > a:hover {
  text-decoration: none;
  color: blue;
}
.switcher__prev, .switcher__next {
  text-decoration: none;
  padding: 2px 7px;
  border-radius: 4px;
  color: black;
  
}
.switcher__prev:hover, .switcher__next:hover {
  color: blue;
}
.switcher__page-item {
  padding: 2px 7px;
  border-radius: 4px;
  color: black;
}
.switcher__page-item--active {
  color: #fff;
  background-color: #1c5bc3;
  padding: 2px 7px;
  border-radius: 4px;
}
.switcher__page-item:hover {
  color: blue;
}
/* Вопросы */
.question {
  height: 170px;
  background: url(../img/reviews/Rectangle1.png) center center no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question__text {
  color: #fff;
  width: 60%;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.7;
}
.question__text span {
  text-decoration: underline;
  font-weight: bold;
}
.question__text span+b {
  font-weight: bold;
}
/* ФОрма отзывов */
.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Социальные сети */
.socials {
  color: white;
  text-align: left;
}
.socials__title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}
.socials__item-vk {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d2def3;
  border-radius: 50%;
  background-image: url(../img/socials/vk.png);
  background-repeat: no-repeat;
  background-position: center;
}
.socials__item-fb {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d2def3;
  border-radius: 50%;
  background-image: url(../img/socials/fb.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}
.socials__item-g {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d2def3;
  border-radius: 50%;
  background-image: url(../img/socials/google.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}
.socials__item-tw {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d2def3;
  border-radius: 50%;
  background-image: url(../img/socials/twitter.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}
.socials__item-em {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d2def3;
  border-radius: 50%;
  background-image: url(../img/socials/mail.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}
.socials__item-vk:hover,
.socials__item-fb:hover,
.socials__item-g:hover,
.socials__item-tw:hover,
.socials__item-em:hover {
  background-color: white;
}
/* КОПИРАЙТ */

.copyright {
  width: 240px;
  color: white;
  font-size: 14px;
}