.breadcrumbs {
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
  color: #497ccf;
  margin-bottom: 16px;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__item:after {
  content: '/';
  margin-right: 2px;
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.breadcrumbs__link--active {
  text-decoration: none;
  color: #4e4c4c;
  pointer-events: none;
  cursor: default;
}