footer {
  padding-top: 20px;
  padding-bottom: 11px;
  background-color: #4b73b5;
}
.container--footer {
  display: flex;
}
.footer__col {
  display: flex;
  flex: 1;
}
.footer__col--centr {
  justify-content: center;
}
.footer__col--right {
  justify-content: flex-end;
}