.header {
  background-color: #4b73b5;
  padding-top: 23px;
  padding-bottom: 17px;
  margin-bottom: 15px;
}
.header--reviews {
  margin-bottom: 45px; 
}
.container--header {
  display: flex;
}
.header__col {
  flex: 1;
  display: flex;
}
.header__col--left {
  align-items: center;
}
.header__col--right {
  justify-content: flex-end;
}

 .contacts {
  font-weight: bold;
  text-align: right;
  font-style: normal;
}

.contacts__link--phone {
  color: #fff;
  text-decoration: none;
  font-size: 21px;
}

.contacts__link--phone:hover {
  text-decoration: underline;
}

.contacts__link--schedule {
  color: rgba(255, 255, 255, .7);
  font-size: 14px;
}
.contacts__link--schedule:hover {
  color: #fff;
} 
.contacts__item {
  position: relative;
}
.contacts__item:hover > .dropdown {
  left: 50%;
}

.dropdown {
  border: 1px solid black;
  background: #fff;
  padding: 15px;
  width: 165px;
  border-radius: 5px 0 5px 5px;
  text-align: center;
  position: absolute;
  top: 205%;
  transform: translateX(-50%);
  z-index: 10;
  left: -9999px;
  box-shadow: 0.2em 0.2em 5px rgba(122,122,122,0.5);
}
.dropdown:before {
  position: absolute;
  content: '';
  display: block;
  height: 27px;
  left: 0;
  right: 0;
  top: -24px;
}
.dropdown__item {
  text-align: left;
}
.dropdown__link {
  text-decoration: none;
  font-size: 14px;
}
.dropdown__link--work {
  color: #1c5bc3;
}
.dropdown__link--lunch {
  color: #221f1f;
  font-weight: lighter;
}

.triangle {
  width: 25px;
  height: 25px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-radius: 5px 0 0 0;
  bottom: 100%;
  position: absolute;
  transform: rotate(45deg);
  margin-bottom: -12px;
  left: 82%;
  background: #fff;
}
