.nowrapper {
  width: 100%;
  height: 100%;
  background: url(../../img/airplane/air-fon.png) no-repeat;
  background-size: cover;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}



.intro__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: updown .7s 1s forwards;
  opacity: 0;
}
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translatey(-60%);
  }
  30% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-20%);
  }
  60% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.intro__logo {
  margin-bottom: 35px;
}
.intro__link:visited,
.intro__link:active
.intro__link:focus {
  color: #1c5bc3;
}
.intro__btn {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #1c5bc3;
  letter-spacing: 2px;
}
.intro__link:hover {
  color: #fff;
  background: #1c5bc3;
}
.intro__link:hover:after {
  background: url(../../img/btn/Vector\ Smart\ Object.png) center center no-repeat;
}
.intro__link {
  transition: background .4s;
  position: relative;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #1c5bc3;
  border-radius: 2px;
  padding: 15px 50px 15px 20px;
}

.intro__link:after {
  content: '';
  position: absolute;
  top: 8px;
  margin-left: 10px;
  width: 23px;
  height: 23px;
  background: url(../../img/btn/Vector\ Smart\ Object\ hover.png) center center no-repeat;
}