.partners__list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.partners__item {
  width: 32%;
  margin-bottom: 80px;
  margin-right: 1%;
}
.partners__item:nth-child(3n) {
  margin-right: 0;
}
.partners__avatar {
  display: flex;
  justify-content: center;
}
.partners__link {
  text-decoration: none;
  width: 170px;
  height: 70px;
  cursor: pointer;
  display: block;
  background: url(../../img/partners/partners.png) 0 0 no-repeat;
}
.partners__link--bmp {
  background-position: -592px -80px;
}
.partners__link--bmp:hover {
  background-position: -592px -310px;
}
.partners__link--tetra {
  background-position: -951px -100px;
}
.partners__link--tetra:hover {
  background-position: -951px -364px;
}
.partners__link--sib {
  background-position: -100px -823px;
}
.partners__link--sib:hover {
  background-position: -433px -823px;
}
.partners__link--oneair {
  background-position: -100px -560px;
}
.partners__link--oneair:hover {
  background-position: -441px -560px;
}
.partners__link--bigair {
  background-position: -40px -100px;
}
.partners__link--bigair:hover {
  background-position: -286px -100px; 
}
.partners__link--ural {
  background-position: -782px -628px;
}
.partners__link--ural:hover {
  background-position: -1064px -628px;
}