.partners__list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.partners__item {
  width: 32%;
  margin-bottom: 80px;
  margin-right: 1%;
}
.partners__avatar {
  display: flex;
  justify-content: center;
}
