.sidebar {
  width: 17%;
}
/* САЙДБАР */

.menu__list {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.menu__list--reviews {
padding-top: 0;
}
.menu__item {
  margin-bottom: 30px;
}
.menu__item:last-child {
  margin-bottom: 0;
}
.menu__link {
  width: 23px;
  height: 23px;
  text-decoration: none;
  color: #4b73b5;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  display: block;
  background: url(../../img/sidebar/sidebar_sprite.png) 0 0 no-repeat;
  padding: 4px 0px 0 36px;
}
 .menu__link:hover {
  color: #000;
}
.menu__link--main {
  background-position: -100px 0;
}
.menu__link--reviews {
  background-position: 0 0;
}
.menu__link--crew {
  background-position: -200px 0;
}

.menu__link--active .menu__link {
  color: #000;
}
.menu__link--active .menu__link--main {
  background-position: -100px -100px;
}
.menu__link--active .menu__link--reviews {
  background-position: 0 -100px;
}
.menu__link--active .menu__link--crew {
  background-position: -200px -100px;
}
.menu__link--main:hover {
  background-position: -100px -100px;
}
.menu__link--reviews:hover {
  background-position: 0 -100px;
}
.menu__link--crew:hover {
  background-position: -200px -100px;
} 
